@font-face 
{
    font-family: "Open Sans";
    src: url("fonts/opensans/OpenSans-ExtraBoldItalic.ttf") format("ttf"),
         url("fonts/opensans/OpenSans-Italic.ttf") format("ttf"),
         url("fonts/opensans/OpenSans-Light.ttf") format("ttf"),
         url("fonts/opensans/OpenSans-LightItalic.ttf") format("tff"),
         url("fonts/opensans/OpenSans-Regular.ttf") format("ttf"),
         url("fonts/opensans/OpenSans-SemiBold.ttf") format("ttf"),
         url("fonts/opensans/OpenSans-SemiBoldItalic.ttf") format("ttf"),
         url("fonts/opensans/OpenSans-Bold.ttf") format("tff"),
         url("fonts/opensans/OpenSans-BoldItalic.ttf") format("tff"),
         url("fonts/opensans/OpenSans-ExtraBold.ttf") format("tff");
}
@font-face 
{
    font-family: "Abhaya Libre";
    src: url("fonts/abhaya/AbhayaLibre-Regular-webfont.eot") format("eot"),
         url("fonts/abhaya/AbhayaLibre-Regular-webfont.svg") format("svg"),
         url("fonts/abhaya/AbhayaLibre-Regular-webfont.ttf") format("ttf"),
         url("fonts/abhaya/AbhayaLibre-Regular-webfont.woff") format("woff");
}



body
{
    background-color: #fff;
    /**background: -webkit-linear-gradient(66deg, rgb(255, 244, 223), rgb(255, 255, 255));**/
    background: URL("http://www.pngmart.com/files/4/Japanese-Transparent-Background.png") no-repeat fixed right bottom;
    background-size: cover;
    max-width: 90%;
    margin: auto;
    font-family: 'Open Sans', Verdana, Tahoma, sans-serif
}

h1
{
    color: #000;
    font-size: 90px;
    text-align: center;
    opacity: 0.8;
    padding: 60px 150px 0 150px;
}

h2
{

}

/**FLOAT**/



/**List**/
ul li:nth-child(1)
{
    background: url("https://raw.githubusercontent.com/becodeorg/CRL-Woods-4.27/main/Assets/bien.png?token=ASLFBXNSLPCKYHVARBA2T4DAATCPQ") no-repeat;
    padding-right: 900px;
}

blockquote
{
    width: 50%;
    margin: auto;
    font-size: 106%;
    font-style: italic;
    overflow-wrap: break-word;
    border-left: 3px solid #B22222;
    padding: 80px 30px 80px 30px;
    background-color: #f7f7f780;
}


.villagers
{
    border-left: 4px solid #ec3324;
}

.farmer
{
    border-left: 4px solid #577889;
}

.good
{
    text-transform: capitalize;
    color: #5a9b75;
}

.bad
{
    text-transform: capitalize;
    color: #ec3324;
}

p
{
    color: #23225b;
    font-size: 1.2em;
    text-align: justify;
    font-family: 'Abhaya Libre', 'Times New Roman', Times, serif;
    letter-spacing: 2px;
}


/**Table**/
caption
{
    border: 1px solid #000;
    border-bottom: none;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1px;
    padding-bottom: 5px;
    padding: 10px 5px 10px 5px;
}

table, th, td 
{
    table-layout: fixed;
    border: 1px solid #000;
    border-collapse: collapse;
    width: 300px;
    text-align: center;
}

table em
{
    font-style: normal;
    font-weight: bold;
    color: #23225b;
}

td
{
    height: 50px;
}

tbody td:nth-child(2n-1)
{
    background-color: rgb(247, 247, 247, 0.5);
}
  
tbody td:nth-child(2n)
{
    background-color: hsl(0, 0%, 100%, 0.5);
}


/**Link**/
a
{
    color: #000;
    font-size: 1em;
    font-style: normal;
    text-decoration: none;
}

a:visited
{
    color: #B22222;
    font-size: 1em;
    font-style: normal;
    text-decoration: none;

}

a:hover
{
    color: #23225b;
    font-size: 1em;
    font-style: normal;
    text-decoration: none;

}