@font-face 
{
    font-family: "Source Sans Pro";
    src: url("font/SourceSansPro-Black.ttf") format("ttf"),
         url("font/SourceSansPro-BlackItalic.ttf") format("ttf"),
         url("font/SourceSansPro-Bold.ttf") format("ttf"),
         url("font/SourceSansPro-BoldItalic.ttf") format("tff"),
         url("font/SourceSansPro-ExtraLight.ttf") format("ttf"),
         url("fon/SourceSansPro-ExtraLightItalic.ttf") format("ttf"),
         url("font/SourceSansPro-Italic.ttf") format("ttf"),
         url("font/SourceSansPro-Light.ttf") format("tff"),
         url("font/SourceSansPro-LightItalic.ttf") format("tff"),
         url("font/SourceSansPro-Regular.ttf") format("tff"),
         url("font/SourceSansPro-SemiBold.ttf") format("tff"),
         url("font/SourceSansPro-SemiBoldItalic.ttf") format("tff");
}

body
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 105%;
    background: #333333;
    color: #fff;
    font-family: 'Source Sans Pro', Verdana, Tahoma, sans-serif;
}


/**MENU NAVIGATION**/
nav
{
    font-size: 0.9em;
    height: 50px;
}

nav ul
{
    margin: 0px;
    padding: 0px;
    list-style-type:none;
    font-size: 0.8em;
}

nav li
{
    display: inline;
    float: left;
    margin-left: 30px;
    margin-top: 10px;
}

nav a
{
    padding-left: 10px;
    padding-top: 8px;
    font-size: 1.3em;
}

.logo
{
    margin-left: 130px;

}

.log
{
    padding-left: 500px;
    padding-right: 0px;
    margin-right: 0px;

}

.login
{
    margin-left: 0px;
    padding-left: 0px;
}

/**LINKS**/
li
{
    display: inline;
    list-style: none;
    margin-top: 0px;
}

a 
{
    padding-left: 25px;
    color: #fff;
    text-decoration: none;
}

a:hover 
{
    background-color: #EEEEEE;
    color: black;
}



/**BANNIERE**/
#banniere
{
    background-color: #0093c8;
    display: flex;
    flex-direction: row;
    padding-bottom: 30px;
}

.deux
{
    margin-top: 0px;
}

.droite
{
    padding-top: 25px;
    margin-left: 70px;
}

.gauche
{
    margin-left: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#banniere p
{
    font-size: 1.7em;
    text-align: center;
}


/**CONTENU**/
#contenu
{   
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #0093c8;
    padding-bottom: 60px;
}

#contenu p
{
    color: #E4E4E4;
}

#contenu div
{
    padding-top: 30px;
    width: 40%;
}

/**SLOGAN**/
#slogan1
{
    background-color: #FFF;
    padding-top: 5px;
    padding-bottom: 20px;
    height: 55px;
    color: #000;
    text-align: center;
    font-size: 1.7em;
    letter-spacing: -2px;
}

#slogan2
{
    background-color: #FFF;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #747171;
    text-align: center;
    font-size: 1.5em;
    letter-spacing: -1px;
}


/**PARTENAIRES**/
#partenariat
{
    background-color: #EEE;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/**BUTTONS**/
#buttons
{   
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    height: 300px;
    width: 100%;
}

/**REST API**/
.restapi 
{
    border: 2px solid #fff;
    line-height: 2.5;
    width: 240px;
    padding: 15px 32px;
    font-size: 1.5em;
    text-align: center;
    color: #fff;
    border-radius: 8px;
    background-color: #18608d;
    cursor: pointer;
}

.restapi:hover 
{
    background-color: #EEEEEE;
    color: black;
}

/**Docs**/
.docs 
{
    border: 2px solid #fff;
    line-height: 2.5;
    width: 240px;
    padding: 15px 32px;
    font-size: 1.5em;
    text-align: center;
    color: #fff;
    border-radius: 8px;
    background-color: #18608d;
    cursor: pointer;
}

.docs:hover 
{
    background-color: #EEEEEE;
    color: black;
}

/**Start Building**/
.startbuildingnow
{
    border: 1px solid #fff;
    padding: 20px 25px;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    color: #fff;
    border-radius: 8px;
    background-color: #e99002;
    cursor: pointer;
}

.startbuildingnow:hover 
{
    background-color: #EEEEEE;
    color: black;
}

.startbuilding 
{
    border: 2px solid #fff;
    line-height: 2.5;
    width: 240px;
    padding: 15px 32px;
    font-size: 1.5em;
    text-align: center;
    color: #fff;
    border-radius: 8px;
    background-color: #e99002;
    cursor: pointer;
}

.startbuilding:hover 
{
    background-color: #EEEEEE;
    color: black;
}


/**FOOTER**/
footer li
{
    color: white;
    border-left: 1px dotted #fff;
}

.nodot
{
    border-left: 0px;
}

.copyright
{
    padding-left: 780px;
}